/* Menu Icon */
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.menu-line {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-icon.open .menu-line-top {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open .menu-line-middle {
    opacity: 0;
}

.menu-icon.open .menu-line-bottom {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile Menu Slide Down */
.fixed {
    transition: transform 0.3s ease-in-out;
}